HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/desktop/build/
.workbuddy

### STS ###
.apt_generated
.classpath
.factorypath
.project
.setting
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/docs/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

CONTEXT.md
AGENTS.md
CLAUDE.md